<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>hack.action.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_servlet</servlet-name>
        <servlet-class>hack.action.Insert_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_pref</servlet-name>
        <servlet-class>hack.action.user_pref</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_servlet</servlet-name>
        <url-pattern>/Insert_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_pref</servlet-name>
        <url-pattern>/user_pref</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
